.message {
    margin-top: 2rem;
    margin-right: 2rem;
    max-width: 250px;
    font-size: 14px;
}

.person_message {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: flex;
}

.person_reply{
    margin-right: 20px;
    border-radius: 5px;
    max-width: 200px;
    word-wrap: break-word;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    height:auto;
    background-color: rgb(201, 203, 205);
    flex-direction: column;
    flex: 12;
}

.bot_message {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: flex;
}

.bot {
    border-radius: 5px;
    max-width: 200px;
    word-wrap: break-word;
    flex: 12;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: white;
    background-color: #005290;
}

.chatdots {
    flex: 1;
    margin: 10px;
}

.person {
    flex: 1;
    margin: 10px;
}