.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}

.navbox{
    width: 100%;
    height: auto;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 25px;
}

.navbox .leftside{

}

.navbox .rightside{
    display: flex;
    flex-direction: row;
}

.navbox .rightside .navlinks{
    font-size: 12px;
    color: black;
    font-weight: 600;
    margin: auto 10px;
}