@import "~@flaticon/flaticon-uicons/css/all/all";

body {
    margin: 0;
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: left;
    
    .register-wrapper {
        flex-direction: column;

        form {
            display: flex;
            flex-direction: column;
        }

    }
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: left;
    
    .login-wrapper {
        flex-direction: column;

        form {
            display: flex;
            flex-direction: column;
        }

    }
}

.navbar-container {
    background-color: rgb(97, 97, 97);
}

.navbar-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 10px;

    li {
        padding-left: 10px; 
    }

}